*~
*.swp
bin
target
build

.settings
*/.settings
*/*/.settings
*.project
*/.project
*/*/.project
*/*/*/.project
*/target
*/*/target
*/*/*/target
.classpath
*/.classpath
*/*/.classpath
*/*/*/.classpath
.launch
*/.launch
*/*/.launch
*/*/*/.launch
*/.idea
*/*/.gitignore
*/*/*/.gitignore
.idea
.idea/*
*/*.iml
*/*/*.iml
*/*/*/*.iml
/*.iml